
.description {
    padding: 5px 5px 5px 5px;
    /*margin: 0px 5px 0px 5px;*/
}

.description p {
    text-align: left;
}

.enterpriseMsg {
    padding: 10px 0px 10px 0px;
}

.ubicationStyle {
    background-color: #f2f2f2;
    padding: 10px 0px 10px 0px;
    text-align: left;
}
.ubicationStyle h2{
    text-align: center;
}

.infoStyle {
    padding: 10px 0px 10px 0px;
}

.backStyle {
    text-align: left;
}
.nextStyle {
    text-align: right;
}

.readMore {
    text-align: right;
}

.sbtStyle {
    font-family: 'Raleway', sans-serif;
}

.titleStyle {
    font-family: 'Lato', sans-serif;
}

.txtStyle {
    font-family: 'Raleway', sans-serif;
}

.txtLinkStyle {
    font-family: 'Raleway', sans-serif;
    text-align: right;
}

.btnStyle {
    background-color: #F2D22E;
    border-color: #F2D22E;
}

.btnStyle:hover {
    background-color: #AABF11;
    border-color: #AABF11;
    color: black;
}